@import '../../../assets/css/responsiveScreen.scss';
@import '../../../assets/css/displayText.scss';
@import '../../../assets/css/color.scss';

.homePageBanner {}

.homePageServiceList {
    line-height: 1.6;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .homePageItemService {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @keyframes hoverService {
            from {
                top: 0
            }

            to {
                top: -10px
            }
        }

        &:hover {
            position: relative;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 25px;
            
            top: -10px;
            animation: ease 1s hoverService;
        }

        span {
            font-weight: 500;
            margin-top: 5px;
            text-align: center;
        }
    }

    img {
        max-width: 80%;
    }

    .homePageItemService.homePageItemService-active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 25px;
        padding: 3px 0;

        span {
            font-weight: bold;
            margin-top: 5px;
            color: $color-main;
            text-align: center;
        }
    }

    @include responScreen(900) {

        .homePageItemService {
            margin: 10px 0;
        }

    }

    @include responScreen(600) {

        .homePageItemService {
            width: 25%;
            height: 30%;
            margin: 10px 0;

            &:hover {
                border-radius: 10px;
            }
        }

        .homePageItemService.homePageItemService-active {

            border-radius: 10px;

        }

    }
}

.homePageServiceDetailDesc {
    display: flex;
    justify-content: center;
    align-items: center;

    .hpgServiceDetailLeft {
        width: 35%;

        img {
            max-width: 100%;
        }
    }

    .hpgServiceDetailRight {
        width: 65%;

        .hpgServiceDetailRight-imagedetail {
            display: flex;
            justify-content: space-around;

            img {
                width: 25%
            }
        }

        .btn-color {
            background-color: $color-main;
            transition: all 0.9s ease;

        }

        .btn-color:hover {
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            opacity: 0.9;
        }
    }

    @include responScreen(600) {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .hpgServiceDetailLeft {
            width: 100%;
            text-align: center;

            img {
                max-width: 80%;
            }
        }

        .hpgServiceDetailRight {
            width: 100%;
            text-align: justify;

            .hpgServiceDetailRight-imagedetail {
                display: flex;
                justify-content: space-around;

                img {
                    width: 30%;
                }
            }
        }
    }
}

.homePageIntroduceImg {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

    .homePageIntroduceImg_responsive {
        width: 100%;
    }
}