

@mixin  responScreen($breakpoint){
    @if $breakpoint == 320{
        @media (max-width: 320px) { @content };
    }
    @if $breakpoint == 480{
        @media (max-width: 480px) { @content };
    }
    @if $breakpoint == 600{
        @media (max-width: 600px) { @content };
    }
    @if $breakpoint == 768{
        @media (max-width: 768px) { @content };
    }
    @if $breakpoint == 900{
        @media (max-width: 900px) { @content };
    }
    @if $breakpoint == 1200{
        @media (max-width: 1200px) { @content };
    }
    @if $breakpoint == 1800{
        @media (max-width: 1800px) { @content };
    }
    @if $breakpoint == 1801{
        @media (min-width: 1801px) { @content };
    }
}
@mixin displayTextSetUp(){
    @content;
}
@mixin displayText1(){
    font-size: 5rem;
    @content;
}
@mixin displayText2(){
    font-size: 4.5rem;
    @content;
}
@mixin displayText3(){
    font-size: 4rem;
    @content;
}
@mixin displayText4(){
    font-size: 3.5rem;
    @content;
}
@mixin displayText5(){
    font-size: 3rem;
    @content;
}
@mixin displayText6(){
    font-size: 2.5rem;
    @content;
}

.homePageOne {
    height: 100vh;
}
.homePageServiceList{
    line-height: 1.6;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .homePageItemService{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & span {
            font-weight: 500;
            margin-top: 5px;
        }
    }
    
    img{
        // width: 80%;
        max-width: 80%;
    }
    .homePageItemService.homePageItemService-active{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & span {
            font-weight: bold;
            margin-top: 5px;
            color: rgb(4, 180, 134);;
        }
    }
}
.homePageServiceDetailDesc{
    display:flex;
    justify-content: center;
    align-items: center;
    .hpgServiceDetailLeft{
        width: 35%;
        img{
            max-width: 100%;
        }
    }
    .hpgServiceDetailRight{
        width: 65%;

        .hpgServiceDetailRight-imagedetail{
            display: flex;
            justify-content: space-around;
            img{
                width: 25%
            }
        }
    }
}



