$rootpath: '../../../../';
@import '../../../../assets/css/color.scss';
@import '../../../../assets/css/responsiveScreen.scss';


@mixin navlinkText() {
    @content;
}

.navbar {
    z-index: 100000;
    background-color: $color-navbar-main;
    .nav-link {
        font-size: 1.2rem
    }

    @include responScreen(1200) {
        .nav-link {
            font-size: 1rem
        }
    }

    & span:hover {
        color: $color-navbar-hover !important;
        opacity: 0.9;
        cursor: pointer;
        transition: all 0.9s ease;
    }

    &.sticky {
        position: sticky;
        top: 0;
    }
}